@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  color: white;
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #111113;
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

#navbar-expanded {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  padding: 12px;
  flex-direction: column;
  font-size: 1em;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
  height: fit-content;
}

#nav-container-expanded {
  display: flex;
  flex-direction: column;
}

.nav-item-expanded {
  color: white;
  border-radius: 4px;
  padding: 0.75rem 0;
  text-decoration: none;
  margin-right: 8px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  font-size: 1em;
  z-index: 2;
}

.navbar-scrolled {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
}

#nav-container {
  display: flex;
}

#nav-container-active {
  display: flex;
  flex-direction: row;
}

.nav-item {
  color: white;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  text-decoration: none;
  margin-right: 8px;
}

#hamburger {
  display: none;
}

#btn-call-us {
  color: white;
  border: none;
  border-radius: 2em;
  background-color: #4558f5;
}

#btn-call-us:hover {
  background-color: #3947c7;
}

.nav-item:hover {
  color: #4558f5;
}

.nav-item-expanded:hover {
  color: #4558f5;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.content-1 {
  padding-top: 5%;
}

.headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.headline h1 {
  margin-bottom: 4px;
  font-size: 3rem;
  text-align: center;
}

.headline h2 {
  margin-bottom: 4px;
  font-size: 2.5rem;
  text-align: center;
}

.sub-headline {
  width: fit-content;
  padding: 8px 16px;
  border: 1px solid #4558f5;
  border-radius: 2rem;
  background-color: #383d6d;
  color: whitesmoke;
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
}

.sub-headline-2 {
  color: rgb(204, 204, 204);
}

.sub-headline-3 {
  color: rgb(204, 204, 204);
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.content-left {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.main-content-banner {
  background-size: cover;
  height: 500px;
  border-radius: 8px;
  background-position-y: center;
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
}

.image-1 {
  background-image: url(../assets/banner-image-1.jpg);
}

.image-2 {
  background-image: url(../assets/banner-image-2.jpg);
}

.image-3 {
  background-image: url(../assets/banner-image-3.jpg);
}

.icon-container {
  display: flex;
}

.user-image {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.icon-image {
  background-image: url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position-x: center;
}

#error-message-name,
#error-message-email,
#error-message-option {
  font-size: 0.75rem;
  color: red;
}

.form-container {
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #2a2d4d;
}

.form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.form-container label {
  font-size: 14px;
  font-weight: 600;
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.form-container input {
  color: black;
  border-radius: 8px;
  border: none;
  padding: 0.25rem 1rem;
  height: 32px;
}

.form-container select {
  border-radius: 8px;
  border: none;
  padding: 0.25rem 1rem;
  height: 40px;
  color: black;
}

.form-container option {
  color: black;
}

.button-sm {
  font-size: 1rem;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #4256fa;
  padding: 0.75rem 1.5rem;
}

.button-lg {
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #4256fa;
  padding: 0.75rem 1.5rem;
}

button:hover {
  background-color: #3947c7;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.benefit-item {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  border-radius: 8px;
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
  background: #2a2d4d;
}

#our-package {
  margin-top: 1.5rem;
}

.icon-package {
  background: #2a2d4d;
  box-shadow: rgb(69 88 245 / 38%) 0px 3px 12px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
  height: 20px;
  width: 20px;
  border: 1px solid #4256fa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  right: 3.5rem;
  top: 2rem;
  z-index: 1;
}

.packages {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.package-item {
  display: flex;
  flex-direction: column;
  border-block-end: 1px solid #4256fa;
  padding: 2rem 4rem;
}

.package-item-2 {
  padding: 2rem 4rem;
}

.container-package {
  display: flex;
  flex-direction: column;
}

.img-packages img {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 7rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.footer-nav {
  display: flex;
}

.footer-nav-item {
  color: white;
  border-radius: 4px;
  padding: 0.75em 1.5em;
  text-decoration: none;
  margin-right: 8px;
}

.footer-nav-item:hover {
  color: #4256fa;
}

.container-package h1 {
  margin: 0;
}

.content-3 {
  margin: 5% 0;
  border-radius: 8px;
  padding: 5% 15%;
  border-radius: 8px;
  box-shadow: rgb(69 88 245 / 38%) 0px 6px 24px 0px,
    rgb(56 61 109) 0px 0px 0px 1px;
  background: #2a2d4d;
}

@media (max-width: 992px) {
  .nav-item {
    display: none;
  }
  .nav-item-active {
    display: flex;
  }
  #header-nav {
    align-items: center;
  }
  #header-nav-expanded {
    align-items: center;
    justify-content: space-between;
  }
  #hamburger {
    border: none;
    border-radius: 2em;
    background-color: #4558f5;
    color: white;
    border-radius: 4px;
    padding: 0.25em 0.75em;
    text-decoration: none;
    margin-right: 8px;
    display: block;
    font-size: 1.25em;
  }
  #hamburger-expanded {
    border: none;
    border-radius: 2em;
    background-color: #4558f5;
    color: white;
    border-radius: 4px;
    padding: 0.25em 0.75em;
    text-decoration: none;
    margin-right: 8px;
    display: block;
    font-size: 1.25em;
  }
  .content-1 {
    padding-top: 15%;
  }
  .content-container {
    flex-wrap: wrap;
  }
  .content-left {
    height: 500px;
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .benefits {
    flex-wrap: wrap;
  }
  .packages {
    flex-wrap: wrap;
    gap: 0;
  }
  .package-item-2 {
    border-block-end: 1px solid #4256fa;
  }
  .img-packages {
    display: flex;
    justify-content: center;
  }
  .img-packages img {
    width: auto;
  }
}

@media (max-width: 600px) {
  .content-1 {
    padding-top: 20%;
  }
  .headline h1 {
    font-size: 1.75em;
  }
  .headline h2 {
    font-size: 1.75em;
  }
}
